.coverage
# W&B
wandb/
artifacts/
# MLflow
mlruns/
mlartifacts/
# Keep compose.yml but ignore data generated if artifact root is misconfigured
mlflow/*/
mlflow/.trash/
# Data and Models
/data/*
!/data/*.dvc
!/data/.gitignore

models/

outputs/
# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Profiling
profile.speedscope.json

# Github
dashboard.html
dashboard_latest.png
simulation_log.json
tmp/

# Tiny Lidar Net Data
ad_components/control/tiny_lidar_net/data/
ad_components/control/tiny_lidar_net/checkpoints/
scripts/system_identification/data/
scripts/system_identification/results/